<% layout('layout/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mb-3">
            <div class="card shadow">
                <img src="https://cdn.pixabay.com/photo/2017/05/12/21/05/serbia-2308164_960_720.jpg"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Login</h5>
                    <form action="/login" method="post" class="needs-validation" novalidate>
                        <section class="mb-3">
                            <label class="form-label" for="username">Username:</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </section>
                        <section class="mb-3">
                            <label class="form-label" for="password">Password:</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </section>
                        <div class="d-grid mb-3">              
                            <button class="btn btn-success">Login</button>            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


